<p>app-changeusername-page works! u are logged in so u can acces this page !!!!</p>

<div>
    <mat-form-field>
        <input matInput placeholder="NewUsername" [(ngModel)]="changeUsernameRequest.newUsername"
            required name="usernameInput">
    </mat-form-field>
</div>
<div>
    <mat-form-field>
        <input matInput placeholder="Password"
            [(ngModel)]="changeUsernameRequest.password" type="password" required name="passwordInput">
    </mat-form-field>
</div>
<button class="username-button-position" mat-stroked-button color="primary" (click)="onChangeUsername()">
    <mat-icon>exit_to_app</mat-icon>
    Change Username
</button>